body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 500px;
  background-color: lightgray;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.keys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.symbols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.symbols button {
  flex: 1;
  margin: 5px 0;
}

button {
  background-color: black;
  color: white;
  padding: 20px;
  border: none;
  font-size: 1.2rem;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1 1 30%;
}

button:hover {
  background-color: seashell;
  color: black;
}

.display {
  text-align: center;
  height: 1.5em;
  /* padding: 20px; */
  font-size: 2rem;
  background-color: seashell;
  border: 2px solid darkgray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.result {
  text-align: center;
  height: 2.5em;
  padding: 1em;
  font-size: 2rem;
  background-color: rgb(187, 94, 28);
  color: #fff;
  border: 2px solid darkgray;
  border-radius: 5px;
  overflow: -moz-hidden-unscrollable;
}

.zero {
  flex: 0 0 64%;
}

.clear,
.backspace {
  flex: 0 0 47%;
  font-size: 1rem;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .app {
    width: 100vw;
    padding: 10px;
  }

  .calculator {
    flex-direction: column;
  }

  .keys {
    flex-direction: column; /* Stack numbers and symbols vertically */
  }

  .numbers {
    width: 100%; /* Full width on mobile */
    justify-content: space-between;
  }

  .symbols {
    width: 100%;
    flex-direction: row; /* Change to row on mobile */
    justify-content: space-between;
  }

  button {
    font-size: 1rem; /* Smaller button font */
    padding: 10px; /* Smaller button padding */
  }

  .display {
    font-size: 1.5rem; /* Smaller display font */
    padding: 15px; /* Adjust padding */
  }

  /* .result p {
    font-size: 1.5rem;
  } */
}
